<div>
    <h2>Créer un produit</h2>
    <form [formGroup]="createProductForm" (ngSubmit)="onSubmit(createProductForm.value)">
        
        <div>
            <label for="name">
                Name
            </label>
            <input id="name" type="text" formControlName="name" placeholder="">
        </div>
        <div>
            <label for="price">
                Price
            </label>
            <input id="price" type="text" formControlName="price"> €
        </div>
        <div>
            <label for="description">
                Description
            </label>
            <textarea id="description" type="text" formControlName="description"></textarea>
        </div>
        
        <button class="button" type="submit">Create</button>
    </form>
</div>