<!-- 
	Le composant top-bar retourne un evenement menuNotifier quand on clique sur le btn hamburger
	On intercepte cet event et le redirige vers la fonciton onMenyNotify du composant courant (ici app)
-->
<app-top-bar (menuNotifier)="onMenuNotify()"></app-top-bar>

<app-menu [ngClass]="{'visible': menuVisible}"></app-menu>
<div class="menu-background" [ngClass]="{'visible': menuVisible}" (click)="toogleMenu()"></div>

<div class="container" [ngClass]="{'blur': menuVisible}">
	<router-outlet></router-outlet>
</div>